<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590619170189-a15ksf0a8ntlq4rjm0mjp3n2965apm1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590619170189-a15ksf0a8ntlq4rjm0mjp3n2965apm1i</string>
	<key>API_KEY</key>
	<string>AIzaSyAbZKwH_fcPR026gSYBtah53nd_hrsyfOU</string>
	<key>GCM_SENDER_ID</key>
	<string>590619170189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.felipe.shoplanner</string>
	<key>PROJECT_ID</key>
	<string>shoplanner-14829</string>
	<key>STORAGE_BUCKET</key>
	<string>shoplanner-14829.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590619170189:ios:8540ad73424091620e59c4</string>
</dict>
</plist>